@use 'abstracts' as *;

.btn {
    display: block;
    position: relative;
    padding: clamp-from(375, 20, 22, 'px') clamp-from(375, 32, 36, 'px');
    border-radius: 999px;
    font-size: clamp-from(375, 16, 18, 'rem');
    line-height: fzlh(18, 12);
    outline: none;
    color: color('charcoal');
    background-color: color('accent');
    border: none;
    z-index: 0;
    text-decoration: none;
    width: fit-content;
    flex-shrink: 0;
    text-align: center;
    font-family: $chillax;
    font-weight: 500;

    @include from-breakpoint(desktop1) {
        transition: background-color .3s ease-out;

        &:hover {
            background-color: color('accent2');
        }
    }

    &--charcoal {
        background-color: color('charcoal');
        color: color('white');

        @include from-breakpoint(desktop1) {
            &:hover {
                background-color: color('gray-888');
            }
        }
    }

    &--border {
        border: 2px solid color('charcoal');
        background-color: transparent;
        color: color('charcoal');

        @include from-breakpoint(desktop1) {
            &:hover {
                background-color: color('accent2');
            }
        }
    }
}