@use 'abstracts' as *;

.picon {
    display: flex;
    // justify-content: center;
    align-items: center;

    &--before {
        &::before {
            content: "";
            position: relative;
            display: inline-block;
            background-position: center;
            background-size: 100%;
            background-repeat: no-repeat;
            flex-shrink: 0;
        }
    }

    &--after {
        &::after {
            content: "";
            position: relative;
            display: inline-block;
            background-position: center;
            background-size: 100%;
            background-repeat: no-repeat;
            flex-shrink: 0;
        }
    }

    // PONIŻEJ PRZYKŁAD:
    // &--send {
    //     &::before {
    //         background-image: url('../../dist/svg/send.svg');
    //         aspect-ratio: 16/15;
    //     }
    // }
}