@use 'abstracts' as *;

.picon {
    display: flex;
    // justify-content: center;
    align-items: center;

    &--before {
        &::before {
            content: "";
            position: relative;
            display: inline-block;
            background-position: center;
            background-size: 100%;
            background-repeat: no-repeat;
            flex-shrink: 0;
        }
    }

    &--after {
        &::after {
            content: "";
            position: relative;
            display: inline-block;
            background-position: center;
            background-size: 100%;
            background-repeat: no-repeat;
            flex-shrink: 0;
        }
    }

    // PONIŻEJ PRZYKŁAD:
    &--newcard {
        &::after {
            background-image: url('../../dist/svg/newcard.svg');
            aspect-ratio: 1/1;
        }
    }
}