@use 'abstracts' as *;

$space140: clamp-to(1280, 80, 100, 'px');
$space140-desktop: clamp-to(1920, 100, 140, 'px');

$space58: 50px;
$space58-desktop: clamp-to(1920, 50, 58, 'px');

$space80: clamp-to(1280, 68, 74, 'px');
$space80-desktop: clamp-to(1920, 74, 80, 'px');

// .mt140 {
//     margin-top: $space140;

//     @include from-breakpoint(tablet2) {
//         margin-top: $space140-desktop;
//     }
// }

// .mb140 {
//     margin-bottom: $space140;

//     @include from-breakpoint(tablet2) {
//         margin-bottom: $space140-desktop;
//     }
// }

// .pt140 {
//     padding-top: $space140;

//     @include from-breakpoint(tablet2) {
//         padding-top: $space140-desktop;
//     }
// }

// .pb140 {
//     padding-bottom: $space140;

//     @include from-breakpoint(tablet2) {
//         padding-bottom: $space140-desktop;
//     }
// }

.mtb140 {
    margin-top: $space140;
    margin-bottom: $space140;

    @include from-breakpoint(tablet2) {
        margin-top: $space140-desktop;
        margin-bottom: $space140-desktop;
    }
}

.ptb140 {
    padding-top: $space140;
    padding-bottom: $space140;

    @include from-breakpoint(tablet2) {
        padding-top: $space140-desktop;
        padding-bottom: $space140-desktop;
    }
}

// ====

.mtb58 {
    margin-top: $space58;
    margin-bottom: $space58;

    @include from-breakpoint(tablet2) {
        margin-top: $space58-desktop;
        margin-bottom: $space58-desktop;
    }
}

.ptb80 {
    padding-top: $space80;
    padding-bottom: $space80;

    @include from-breakpoint(tablet2) {
        padding-top: $space80-desktop;
        padding-bottom: $space80-desktop;
    }
}