@use 'abstracts' as *;

.fz {
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    text-align: left;

    &--64 {
        font-size: clamp-to(991, 40, 50, 'rem');
        line-height: fzlh(64, 77);
    
        @include from-breakpoint(desktop1) {
            font-size: clamp-to(1440, 50, 64, 'rem');
        }
    }

    &--20 {
        font-size: clamp-to(991, 18, 20, 'rem');
        line-height: fzlh(20, 30);
    }

    &--44 {
        font-size: clamp-to(991, 32, 38, 'rem');
        line-height: fzlh(1, 1);
    
        @include from-breakpoint(desktop1) {
            font-size: clamp-to(1440, 38, 44, 'rem');
        }
    }

    &--18 {
        font-size: rem(18);
        line-height: fzlh(18, 27);
    }

    &--16 {
        font-size: rem(16);
        line-height: fzlh(16, 24);
    }

    &--48 {
        font-size: clamp-to(991, 34, 42, 'rem');
        line-height: fzlh(1, 1);
    
        @include from-breakpoint(desktop1) {
            font-size: clamp-to(1440, 42, 48, 'rem');
        }
    }

    &--72 {
        font-size: clamp-to(991, 58, 62, 'rem');
        line-height: fzlh(64, 77);
    
        @include from-breakpoint(desktop1) {
            font-size: clamp-to(1440, 62, 72, 'rem');
        }
    }

    &--32 {
        font-size: clamp-to(991, 26, 28, 'rem');
        line-height: fzlh(1, 1);
    
        @include from-breakpoint(desktop1) {
            font-size: clamp-to(1440, 28, 32, 'rem');
        }
    }

    &--14 {
        font-size: rem(14);
        line-height: fzlh(14, 21);
    }

    &--72-2 {
        font-size: clamp-to(991, 58, 60, 'rem');
        line-height: fzlh(64, 77);
    
        @include from-breakpoint(desktop1) {
            font-size: clamp-to(1440, 60, 68, 'rem');
        }
    }


}

.lh {
    &-105 {
        line-height: fzlh(54, 57);
    }

    &-140 {
        line-height: fzlh(20, 28);
    }

    &-120 {
        line-height: fzlh(24, 29);
    }

    &-auto {
        line-height: fzlh(48, 62);
    }

    &-114 {
        line-height: fzlh(26, 30);
    }

    &-124 {
        line-height: fzlh(20, 25);
    }
}



.fw-100,
.fw-thin,
.fw-hairline {
    font-weight: 100;
}

.fw-200,
.fw-extralight,
.fw-ultralight {
    font-weight: 200;
}

.fw-300,
.fw-light {
    font-weight: 300;
}

.fw-400,
.fw-normal,
.fw-regular {
    font-weight: 400;
}

.fw-500,
.fw-medium {
    font-weight: 500;
}

.fw-600,
.fw-semibold,
.fw-demibold {
    font-weight: 600;
}

.fw-700,
.fw-bold {
    font-weight: 700;
}

.fw-800,
.fw-extrabold,
.fw-ultrabold {
    font-weight: 800;
}

.fw-900,
.fw-black,
.fw-heavy {
    font-weight: 900;
}


////////////////////////////////////////////////////////


.ttu {
    text-transform: uppercase;
}

.ttn {
    text-transform: none;
}

///////////////////////////////////////////////////////

.tdn {
    text-decoration: none;
}

.tac {
    text-align: center;
}