
$colors: (
    'charcoal': #232323,
    'gray-f5f': #f5f8f8,
    'accent': #d5e0e0,
    'accent2': #a9bfbf,
    'gray-888': #888888,
    'black': #000000,
    'gray-d5e': #d5e0e0,
    'green': #85c781,
    'white': #ffffff,
    'gray-bfc': #bfcfd0,
    
);

$filters: (
    'black': brightness(0) saturate(100%) invert(0%) sepia(100%) saturate(6%) hue-rotate(45deg) brightness(98%) contrast(101%),
    'white': brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7500%) hue-rotate(315deg) brightness(103%) contrast(102%),
    'gray': brightness(0) saturate(100%) invert(92%) sepia(0%) saturate(555%) hue-rotate(185deg) brightness(85%) contrast(83%),
);

//--------------------

@function color($color) {
    @return map-get($colors, $color);
}

@each $name, $value in $colors {
    .c-#{$name} {
        color: #{$value};
    }

    .bgc-#{$name} {
        background-color: #{$value};
    }
}

//--------------------

@function filter($filter) {
    @return map-get($filters, $filter);
}

@each $name, $value in $filters {
    .f-#{$name} {
        filter: #{$value};
    }
}