@forward 'footer';
@forward 'header';
@forward 'hero';
@forward 'menu';
@forward 'not-found';
@forward 'policy';
@forward 'desc';
@forward 'advantages';
@forward 'cta';
@forward 'map';
@forward 'numbers';

@forward 'galleries';