@use 'abstracts' as *;
@use 'base/variables.scss' as *;

.about {
    &__wrapper {
        display: flex;
        flex-direction: column;
        gap: clamp-to(1280, 80, 100, 'px');

        @include from-breakpoint(tablet2) {
            gap: clamp-to(1920, 100, 140, 'px');
        }
    }

    &__row1 {
        gap: clamp-to(1280, 30, 40, 'px');

        @include from-breakpoint(tablet2) {
            justify-content: space-between;
            gap: 20px;
        }
    }

    &__heading1 {
        margin-bottom: 20px;
        font-family: $chillax;

        @include from-breakpoint(tablet2) {
            margin-bottom: clamp-to(1440, 36, 48, 'px');
            max-width: 500px;
        }
    }

    &__text1 {
        display: flex;
        flex-direction: column;

        @include from-breakpoint(tablet2) {
            margin-top: auto;
            margin-bottom: auto;
        }
    }

    &__imgwrap1 {

    }

    &__img1 {
        border-radius: 14px;
        aspect-ratio: 576/400;

        @include from-breakpoint(tablet2) {
            aspect-ratio: 555/694;
        }
    }

    &__row2 {
        gap: clamp-to(1280, 30, 40, 'px');
        flex-direction: column-reverse;

        @include from-breakpoint(tablet2) {
            flex-direction: row;
            justify-content: space-between;
        }
    }

    &__heading2 {
        margin-bottom: 20px;
        font-family: $chillax;

        @include from-breakpoint(tablet2) {
            margin-bottom: clamp-to(1440, 24, 32, 'px');
        }
    }


    &__text2 {
        display: flex;
        flex-direction: column;
        
        @include from-breakpoint(tablet2) {
            position: relative;
            margin-top: auto;
            margin-bottom: auto;
        }
    }

    &__imgwrap2 {
        display: flex;
        flex-direction: column;
        gap: 20px;

        @include from-breakpoint(tablet2) {
            gap: unset;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
    }

    &__imgwrap-inside2 {
        display: flex;
        flex-direction: column;
        gap: 20px;

        @include from-breakpoint(tablet2) {
            width: 56.05%;
        }
    }

    &__img2-1 {
        border-radius: 14px;
        aspect-ratio: 4/2.5;
        border-radius: 14px;

        @include from-breakpoint(tablet2) {
            position: relative;
            aspect-ratio: 325/451;
            width: 41.40%;
            height: auto;
        }
    }

    &__img2-2 {
        border-radius: 14px;
        aspect-ratio: 4/2.5;
        border-radius: 14px;

        @include from-breakpoint(tablet2) {
            position: relative;
            aspect-ratio: 325/234;
            width: 73.86%;
            height: auto;
        }
    }

    &__img2-3 {
        border-radius: 14px;
        aspect-ratio: 4/2.5;
        border-radius: 14px;

        @include from-breakpoint(tablet2) {
            position: relative;
            aspect-ratio: 440/317;
            width: 100%;
            height: auto;
        }
    }
}