@use 'abstracts' as *;

.advantages {

    &__heading {
        margin-bottom: 60px;
        font-family: $chillax;

        @include from-breakpoint(desktop1) {
            margin-bottom: clamp-to(1440, 60, 80, 'px');
        }
    }

    &__row {
        gap: 20px;
    }

    &__advantage {
        padding: rem(20);
        border: 1px solid color('accent');
        border-radius: 14px;

        @include from-breakpoint(desktop1) {
            padding: 24px;
            transition: background-color .3s ease-out;

            &:hover {
                background-color: color('white');

                & > .advantages__top > .advantages__iconbox {
                    background-color: color('accent2');
                }
            }
        }
    }

    &__top {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
        gap: 10px;
        // border: 1px dashed black;

        @include from-breakpoint(desktop1) {
            gap: unset;
            flex-direction: row;
            align-items: flex-start;
            gap: clamp-to(1920, 10, 14, 'px');
        }
    }

    &__iconbox {
        display: flex;
        justify-content: center;
        align-items: center;
        aspect-ratio: 1/1;
        width: clamp-to(768, 40, 50, 'px');
        height: auto;
        border-radius: 100px;
        background-color: color('accent');
        flex-shrink: 0;

        @include from-breakpoint(desktop1) {
            width: 30px;
            transition: background-color .3s ease-out;
        }
    }

    &__icon {
        aspect-ratio: 1/1;
        width: 90%;
        height: auto;
    }

    &__title {
        text-align: center;

        @include from-breakpoint(desktop1) {
            text-align: left;
        }
    }

    &__text {
        text-align: center;

        @include from-breakpoint(desktop1) {
            text-align: left;
        }
    }
}