@use 'abstracts' as *;
@use 'base/variables.scss' as *;

.cta {
    &__box {
        position: relative;
        padding: clamp-to(992, 60, 120, 'px') clamp-to(992, 16, 40, 'px');
        border-radius: 14px;
        overflow: hidden;

        @include from-breakpoint(desktop1) {
            padding: clamp-to(1440, 120, 140, 'px') 40px;
        }
    }

    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
    }

    &__layer {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;

        &--1 {
            background: rgba(213, 224, 224, 0.7);

            @media (min-width: 600px) {
                background: linear-gradient(270deg, rgba(213, 224, 224, 0) 0%, #D5E0E0 80%, #D5E0E0 100%); 
            }
        }

        &--2 {
            background: rgba(35, 35, 35, 0.7);

            @media (min-width: 600px) {
                background: linear-gradient(270deg, rgba(35, 35, 35, 0) 37%, rgba(35, 35, 35, 0.50) 57%, #232323 80% #232323 100%);
            }
        }
    }

    &__content {
        position: relative;
        z-index: 3;
    }

    &__heading {
        font-family: $chillax;  
    }

    &__text {
        margin: clamp-to(1280, 16, 24, 'px') 0 clamp-to(1280, 34, 47, 'px');

        @include from-breakpoint(desktop1) {
            max-width: 500px;
            margin: 24px 0 47px 0;
        }
    }
}