@use 'abstracts' as *;
@use 'base/variables.scss' as *;

.directions {
    &__row {
        @include from-breakpoint(tablet2) {
            justify-content: center;
        }
    }

    &__left {
        @include from-breakpoint(tablet2) {
            display: flex;
            flex-direction: column;
            padding-right: clamp-to(1440, 40, 115, 'px');
            justify-content: center;
        }
    }

    &__heading {
        font-family: $chillax;
        line-height: 1.3;
    }

    &__text {
        margin-top: 36px;

        @include from-breakpoint(desktop1) {
            margin-top: clamp-to(1440, 36, 48, 'px');
        }
    }
}