@use 'abstracts' as *;
@use 'base/variables.scss' as *;

.header {
    position: fixed;
    top: 0;
    height: $header-mobile;
    width: 100%;
    z-index: 999;
    transition: transform .4s, background-color .4s;
    background-color: transparent;

    @include from-breakpoint(desktop1) {
        height: $header-desktop;
    }

    &--scrolled {
        background-color: color('charcoal');
        transition: background-color .3s ease-out;
    }

    &__wrapper {
        display: flex;
        height: 100%;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        display: block;
        aspect-ratio: 215.15/26.74;
        width: clamp-from(375, 160, 190, 'px');
        height: auto;
        
        @include from-breakpoint(desktop1) {
            width: 215.15px;
        }
    }

    &__mobile-buttons {
        display: flex;
        gap: 8px;
    }

    &__button {
        aspect-ratio: 1/1;
        width: clamp-to(768, 36, 46, 'px');
        height: auto;
        position: relative;
        background-position: 100% 50%;
        background-repeat: no-repeat;
        border: none;
        background-color: unset;
        flex-shrink: 0;
        // outline: 1px dashed red;
        
        @include from-breakpoint(desktop1) {
            display: none;
        }

        &--open {
            background-image: url('../svg/menu.svg');
            background-size: 60% 60%;
        }

        &--contact {
            background-image: url('../svg/contact.svg');
            background-size: 60% 60%;
        }

        &--phone {
            background-image: url('../svg/phone.svg');
            background-size: 60% 60%;
        }

        &--close {
            background-image: url('../svg/close.svg');
            background-size: 60% 60%;
            filter: filter('black');
        }
    }

    &__desktop-no {
        display: none;
        
        @include from-breakpoint(desktop1) {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 999px;
            text-decoration: none;
            text-align: center;
            flex-shrink: 0;
            padding-top: 17px;
            padding: 17px;
            width: fit-content;
            padding-left: clamp-to(1440, 18, 24, 'px');
            padding-right: clamp-to(1440, 18, 24, 'px');
            color: color('charcoal');
            font-family: $chillax;
            font-size: rem(18);
            margin-left: 14px;
            line-height: fzlh(18, 25);
            transition: background-color .3s ease-out;

            &:hover {
                background-color: color('gray-d5e');
            }
        }
    }
}