@use 'abstracts' as *;
@use 'base/variables.scss' as *;

.hero {
    position: relative;
    background-color: rgb(55, 55, 56);
    padding-top: $header-mobile;
    // border: 4px dashed red;

    @include from-breakpoint(desktop1) {
        padding-top: $header-desktop;
        height: calc(100vh);
        min-height: clamp-from(1280, 760, 820, 'px');
        max-height: clamp-from(1280, 780, 970, 'px');
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: flex-start;
        position: relative;
        margin-top: clamp-from(375, 200, 400, 'px');
        margin-bottom: clamp-to(1280, 50, 80, 'px');
        z-index: 3;

        @include from-breakpoint(desktop1) {
            gap: 24px;
            margin-top: auto;
            margin-bottom: clamp-to(1440, 80, 92, 'px');
        }
    }

    &__heading {
        font-family: $chillax;
        margin: 0;
    }

    &__text {

        @include from-breakpoint(desktop1) {
            max-width: 868px;
        }
    }

    &__btn {
        margin-top: 4px;
    }

    &__image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
    }

    &__layer {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        background-color: rgba(35, 35, 35, 0.5);
    }
}